*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(156, 227, 255);
    color:rgb(0, 0, 0)
}
img{
    height: 100px;
}
#stuff{
    text-align: left;
}
dt{
    text-align: left;
}
li{
    text-align: left;
}
h4{
    text-align: left;
}